<!DOCTYPE html>
<html lang="en">

<%- include('./partials/geral/head') %>

  <body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl   footer-offset">

    <script src="/assets/js/hs.theme-appearance.js"></script>
    <script src="/assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js"></script>
    <!-- ========== HEADER ========== -->
    <header id="header"
      class="navbar navbar-expand-lg navbar-fixed navbar-height navbar-container navbar-bordered bg-white">
      <div class="navbar-nav-wrap">
        <!-- Logo -->
        <%- include('./partials/geral/logo') %>
          <!-- End Logo -->

          <%- include('./partials/geral/navbar') %>
      </div>
    </header>

    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <!-- Navbar Vertical -->

    <aside
      class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered bg-white  ">
      <div class="navbar-vertical-container">
        <div class="navbar-vertical-footer-offset">
          <!-- Logo -->

          <%- include('./partials/geral/logo') %>

            <!-- End Logo -->

            <!-- Navbar Vertical Toggle -->
            <button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-aside-toggler">
              <i class="bi-arrow-bar-left navbar-toggler-short-align"
                data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                data-bs-toggle="tooltip" data-bs-placement="right" title="Collapse"></i>
              <i class="bi-arrow-bar-right navbar-toggler-full-align"
                data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                data-bs-toggle="tooltip" data-bs-placement="right" title="Expand"></i>
            </button>

            <%- include('./middlewares/middlewares.ejs') %>

              <!-- End Content -->
              <!-- Footer -->
              <div class="navbar-vertical-footer">
                <ul class="navbar-vertical-footer-list">
                </ul>
              </div>
              <!-- End Footer -->
        </div>
      </div>
    </aside>


  <main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-end">
          <div class="col-sm mb-2 mb-sm-0">
          

            <h1 class="page-header-title">Definições de perfil</h1>
          </div>
          <!-- End Col -->

          
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Page Header -->

      <div class="row">
        <div class="col-lg-3">
          <!-- Navbar -->
          <div class="navbar-expand-lg navbar-vertical mb-3 mb-lg-5">
            <!-- Navbar Toggle -->
            <!-- Navbar Toggle -->
            <div class="d-grid">
              <button type="button" class="navbar-toggler btn btn-white mb-3" data-bs-toggle="collapse" data-bs-target="#navbarVerticalNavMenu" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenu">
                <span class="d-flex justify-content-between align-items-center">
                  <span class="text-dark">Menu</span>

                  <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                  </span>

                  <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                  </span>
                </span>
              </button>
            </div>
            <!-- End Navbar Toggle -->
            <!-- End Navbar Toggle -->

            <!-- Navbar Collapse -->
            <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
              <ul id="navbarSettings" class="js-sticky-block js-scrollspy card card-navbar-nav nav nav-tabs nav-lg nav-vertical" data-hs-sticky-block-options='{
                     "parentSelector": "#navbarVerticalNavMenu",
                     "targetSelector": "#header",
                     "breakpoint": "lg",
                     "startPoint": "#navbarVerticalNavMenu",
                     "endPoint": "#stickyBlockEndPoint",
                     "stickyOffsetTop": 20
                   }'>
                <li class="nav-item">
                  <a class="nav-link active" href="#content">
                    <i class="bi-person nav-icon"></i> Informação básica
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#emailSection">
                    <i class="bi-at nav-icon"></i> Informação de Usuario
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#passwordSection">
                    <i class="bi-key nav-icon"></i> Chave de Acesso
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#preferencesSection">
                    <i class="bi-phone dropdown-item-icon"></i> Contactos
                  </a>
                </li>
               
      
              </ul>
            </div>
            <!-- End Navbar Collapse -->
          </div>
          <!-- End Navbar -->
        </div>

        <div class="col-lg-9">
          <div class="d-grid gap-3 gap-lg-5">
            <!-- Card -->
            <div class="card">
              <!-- Profile Cover -->
              <div class="profile-cover">
                <div class="profile-cover-img-wrapper">
                  <img id="profileCoverImg" class="profile-cover-img" src="/assets/img/logo/MININT.png" alt="Image Description">

                 
                </div>
              </div>
              <!-- End Profile Cover -->

              <!-- Avatar -->
              <label class="avatar avatar-xxl avatar-circle avatar-uploader profile-cover-avatar" for="editAvatarUploaderModal">
                <img id="editAvatarImgModal" class="avatar-img" src="/uploads/<%=dados.image%>" alt="Image Description">

                <input type="file" class="js-file-attach avatar-uploader-input" id="editAvatarUploaderModal" data-hs-file-attach-options='{
                            "textTarget": "#editAvatarImgModal",
                            "mode": "image",
                            "targetAttr": "src",
                            "allowTypes": [".png", ".jpeg", ".jpg"]
                         }' name="file"  >
                        

                <span class="avatar-uploader-trigger">
                  <i class="bi-pencil-fill avatar-uploader-icon shadow-sm"></i>
                </span>
              </label>
              <!-- End Avatar -->

              <!-- Body -->
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-5">
                    <span class="d-block fs-5 mb-2">Situação do Funcionario <i class="bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Your visibility setting only applies to your profile photo. Your header image is always visible to anyone."></i></span>

                    <!-- Select -->
                    <div class="tom-select-custom">
                      <select class="js-select form-select" data-hs-tom-select-options='{
                                "searchInDropdown": false,
                                "dropdownWidth": "auto"
                              }'>
                              <% if(dados.tb_funcionario.tb_situacao_funcionario.designacao !='Disponivel'){%>
                                <option value="privacy2" data-option-template='<div class="d-flex align-items-start"><div class="flex-shrink-0"><i class="bi-lock"></i></div><div class="flex-grow-1 ms-2"><span class="d-block fw-semi-bold">Indisponivel</span><span class="tom-select-custom-hide small">Visível apenas para você.</span></div></div>'>Indisponivel</option>
                     
                                <%   }else{%>
                                  <option value="privacy1" data-option-template='<div class="d-flex align-items-start"><div class="flex-shrink-0"><i class="bi-globe"></i></div><div class="flex-grow-1 ms-2"><span class="d-block fw-semi-bold">Disponivel</span><span class="tom-select-custom-hide small">Visível para qualquer pessoa que possa visualizar seu conteúdo.</span></div></div>'>Disponivel</option>
                      
                                  <%} %>
                        </select>
                    </div>
                    <!-- End Select -->
                  </div>
                  <!-- <div class="d-flex justify-content-end">
                    <button type="button" onclick="postData()" class="btn btn-primary">Salvar Alterações</button>
                  </div> -->
                </div>
                <!-- End Row -->
              </div>
              <!-- End Body -->
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card">
              <div class="card-header">
                <h2 class="card-title h4">Informação básica</h2>
              </div>

              <!-- Body -->
              <div class="card-body">
                <!-- Form -->
                <form>
                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="firstNameLabel" class="col-sm-3 col-form-label form-label">Nome Completo <i class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Displayed on public forums, such as Front."></i></label>

                    <div class="col-sm-9">
                      <div class="input-group input-group-sm-vertical">
                        <input type="text" class="form-control" name="firstName" id="firstNameLabel" placeholder="Your first name" aria-label="Your first name" value="<%=dados.tb_funcionario.nome  %>">
                        <input type="text" class="form-control" name="lastName" id="lastNameLabel" placeholder="Your last name" aria-label="Your last name" value="<%=dados.tb_funcionario.sobre_nome  %>">
                      </div>
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="emailLabel" class="col-sm-3 col-form-label form-label">Email</label>

                    <div class="col-sm-9">
                      <input type="email" class="form-control" name="email" id="emailLabel" placeholder="Email" aria-label="Email" value="<%=dados.email  %>">
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="phoneLabel" class="col-sm-3 col-form-label form-label">Phone <span class="form-label-secondary">(Optional)</span></label>

                    <div class="col-sm-9">
                      <input type="text" class="js-input-mask form-control" name="phone" id="phoneLabel" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx" value="..." data-hs-mask-options='{
                               "mask": "+0(000)000-00-00"
                             }'>
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="organizationLabel" class="col-sm-3 col-form-label form-label">Grupo</label>

                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="organization" id="organizationLabel" placeholder="Your organization" aria-label="Your organization" value="<%=dados.tb_grupo.designacao  %>" disabled>
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="departmentLabel" class="col-sm-3 col-form-label form-label">Area</label>
                    <div class="col-sm-9">
                      <div class="input-group input-group-sm-vertical">
                        <input type="text" class="form-control" name="firstName" id="firstNameLabel" placeholder="Your first name" aria-label="Your first name" disabled value="<%=dados.tb_funcionario.tb_area.nome %>">
                        <input type="text" class="form-control" name="lastName" id="lastNameLabel" placeholder="Your last name" aria-label="Your last name" disabled value="<%=dados.tb_funcionario.tb_area.sigla %>">
                      </div>
                    </div>
                    
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div id="accountType" class="row mb-4">
                    <label class="col-sm-3 col-form-label form-label">Account type</label>

                    <div class="col-sm-9">
                      <div class="input-group input-group-sm-vertical">
                        <!-- Radio Check -->
                        <label class="form-control" for="userAccountTypeRadio1">
                          <span class="form-check">
                            <input type="radio" class="form-check-input" name="userAccountTypeRadio" id="userAccountTypeRadio1" checked>
                            <span class="form-check-label">Individual</span>
                          </span>
                        </label>
                        <!-- End Radio Check -->

                        <!-- Radio Check -->
                        <label class="form-control" for="userAccountTypeRadio2">
                          <span class="form-check">
                            <input type="radio" class="form-check-input" name="userAccountTypeRadio" id="userAccountTypeRadio2">
                            <span class="form-check-label">Company</span>
                          </span>
                        </label>
                        <!-- End Radio Check -->
                      </div>
                    </div>
                  </div>
                 

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="addressLine1Label" class="col-sm-3 col-form-label form-label">Address line 1</label>

                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="addressLine1" id="addressLine1Label" placeholder="Your address" aria-label="Your address" value="45 Roker Terrace, Latheronwheel">
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="addressLine2Label" class="col-sm-3 col-form-label form-label">Address line 2 <span class="form-label-secondary">(Optional)</span></label>

                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="addressLine2" id="addressLine2Label" placeholder="Your address" aria-label="Your address">
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="zipCodeLabel" class="col-sm-3 col-form-label form-label">Zip code <i class="bi-question-circle text-body ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="You can find your code in a postal address."></i></label>

                    <div class="col-sm-9">
                      <input type="text" class="js-input-mask form-control" name="zipCode" id="zipCodeLabel" placeholder="Your zip code" aria-label="Your zip code" value="KW5 8NW" data-hs-mask-options='{
                               "mask": "AA0 0AA"
                             }'>
                    </div>
                  </div>
                  <!-- End Form -->
                 

                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                  </div>
                </form>
                <!-- End Form -->
              </div>
              <!-- End Body -->
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div id="emailSection" class="card">
              <div class="card-header">
                <h4 class="card-title">Informação de Usuario</h4>
              </div>

              <!-- Body -->
              <div class="card-body">
                <p>O teu email atual é <span class="fw-semi-bold"><%=dados.email  %></span></p>
                <p>O teu Nome de usuario atual é <span class="fw-semi-bold"><%=dados.username  %></span></p>

                <!-- Form -->
                <form>
                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="newEmailLabel" class="col-sm-3 col-form-label form-label">Novo Email</label>

                    <div class="col-sm-9">
                      <input type="email" class="form-control" name="newEmail" id="newEmailLabel" placeholder="Enter new email address" aria-label="Enter new email address">
                      <br>
                    </div>
                    
                    <label for="newEmailLabel" class="col-sm-3 col-form-label form-label">Novo Username</label>
                    
                    <div class="col-sm-9">
                      <input type="email" class="form-control" name="newEmail" id="newEmailLabel" placeholder="Enter new email address" aria-label="Enter new email address">
                    </div>
                  </div>
                  <!-- End Form -->

                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                  </div>
                </form>
                <!-- End Form -->
              </div>
              <!-- End Body -->
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div id="passwordSection" class="card">
              <div class="card-header">
                <h4 class="card-title">Alterar a sua chave de Acesso</h4>
              </div>

              <!-- Body -->
              <div class="card-body">
                <!-- Form -->
                <form id="changePasswordForm">
                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="currentPasswordLabel" class="col-sm-3 col-form-label form-label">Senha Atual</label>

                    <div class="col-sm-9">
                      <input type="password" class="form-control" name="currentPassword" id="currentPasswordLabel" placeholder="Enter current password" aria-label="Enter current password">
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="newPassword" class="col-sm-3 col-form-label form-label">Nova senha</label>

                    <div class="col-sm-9">
                      <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="Enter new password" aria-label="Enter new password">
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="confirmNewPasswordLabel" class="col-sm-3 col-form-label form-label">Confirmar a nova senha</label>

                    <div class="col-sm-9">
                      <div class="mb-3">
                        <input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPasswordLabel" placeholder="Confirm your new password" aria-label="Confirm your new password">
                      </div>

                      <h5>Requisitos de senha:</h5>

                      <p class="fs-6 mb-2">Certifique-se de que estes requisitos sejam atendidos:</p>

                      <ul class="fs-6">
                        <li>Mínimo de 8 caracteres - quanto mais, melhor</li>
                        <li>Pelo menos um caractere minúsculo</li>
                        <li>Pelo menos um caractere maiúsculo</li>
                        <li>Pelo menos um número, símbolo ou caractere de espaço em branco</li>
                      </ul>
                    </div>
                  </div>
                  <!-- End Form -->

                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                  </div>
                </form>
                <!-- End Form -->
              </div>
              <!-- End Body -->
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div id="preferencesSection" class="card">
              <div class="card-header">
                <h4 class="card-title">Contactos</h4>
              </div>

              <!-- Body -->
              <div class="card-body">
                <!-- Form -->
                <form>
                  <!-- Form -->
                  <div class="row mb-4">
                 
                     <!-- Form -->
            <div class="js-add-field row mb-4" data-hs-add-field-options='{
                    "template": "#addPhoneFieldTemplate",
                    "container": "#addPhoneFieldContainer",
                    "defaultCreated": 0
                  }'>
              <label for="phoneLabel" class="col-sm-3 col-form-label form-label">Contacto <span class="form-label-secondary">(Optional)</span></label>

              <div class="col-sm-9">
                <div class="input-group input-group-sm-vertical">
                  <input type="text" class="js-input-mask form-control" name="phone" id="phoneLabel" placeholder="(+244)xxx-xxx-xxx" aria-label="(+244)xxx-xxx-xxx" data-hs-mask-options='{
                           "mask": "(+244)000-000-000"
                         }'>

                  <!-- Select -->
                  <div class="tom-select-custom tom-select-custom-end">
                    <select class="js-select form-select" autocomplete="off" data-hs-tom-select-options='{
                              "searchInDropdown": false,
                              "hideSearch": true,
                              "dropdownWidth": "8rem"
                            }'>
                      <option value="Mobile" selected>Mobile</option>
                      
                    </select>
                  </div>
                  <!-- End Select -->
                </div>

              </div>
            </div>
            <!-- End Form -->
                  </div>
                  <h5>Contactos Registrados:</h5>

                  <ul class="fs-6">
                    <li>contacto 1</li>
                    <li>contacto 2</li>
                    <li>contacto 3</li>
                   
                  </ul>

                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                  </div>
                </form>
                <!-- End Form -->
              </div>
              <!-- End Body -->
            </div>
            <!-- End Card -->

         
          </div>

          <!-- Sticky Block End Point -->
          <div id="stickyBlockEndPoint"></div>
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->

    <!-- Footer -->

 
<%- include('./partials/geral/footer') %>

    <!-- End Footer -->
  </main>

    <script src="/assets/js/demo.js"></script>

    <!-- END ONLY DEV -->

    <!-- ========== SECONDARY CONTENTS ========== -->




    <script src="/assets/js/vendor.min.js"></script>

    <script src="/assets/vendor/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>

    <!-- JS Front -->
    <script src="/assets/js/theme.min.js"></script>
    <script src="/assets/js/hs.theme-appearance-charts.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // INITIALIZATION OF DATERANGEPICKER
        // =======================================================
        $('.js-daterangepicker').daterangepicker();

        $('.js-daterangepicker-times').daterangepicker({
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale: {
            format: 'M/DD hh:mm A'
          }
        });

        var start = moment();
        var end = moment();

        function cb(start, end) {
          $('#js-daterangepicker-predefined .js-daterangepicker-predefined-preview').html(start.format('MMM D') + ' - ' + end.format('MMM D, YYYY'));
        }

        $('#js-daterangepicker-predefined').daterangepicker({
          startDate: start,
          endDate: end,
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
        }, cb);

        cb(start, end);
      });


      // INITIALIZATION OF DATATABLES
      // =======================================================
      HSCore.components.HSDatatables.init($('#datatable'), {
        select: {
          style: 'multi',
          selector: 'td:first-child input[type="checkbox"]',
          classMap: {
            checkAll: '#datatableCheckAll',
            counter: '#datatableCounter',
            counterInfo: '#datatableCounterInfo'
          }
        },
        language: {
          zeroRecords: `<div class="text-center p-4">
              <img class="mb-3" src="./assets/svg/illustrations/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
              <img class="mb-3" src="./assets/svg/illustrations-light/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="dark">
            <p class="mb-0">No data to show</p>
            </div>`
        }
      });

      const datatable = HSCore.components.HSDatatables.getItem(0)

      document.querySelectorAll('.js-datatable-filter').forEach(function (item) {
        item.addEventListener('change', function (e) {
          const elVal = e.target.value,
            targetColumnIndex = e.target.getAttribute('data-target-column-index'),
            targetTable = e.target.getAttribute('data-target-table');

          HSCore.components.HSDatatables.getItem(targetTable).column(targetColumnIndex).search(elVal !== 'null' ? elVal : '').draw()
        })
      })
    </script>

    <!-- JS Plugins Init. -->
    <script>
              (function () {
                window.onload = function () {


                  // INITIALIZATION OF NAVBAR VERTICAL ASIDE
                  // =======================================================
                  new HSSideNav('.js-navbar-vertical-aside').init()


                  // INITIALIZATION OF FORM SEARCH
                  // =======================================================
                  const HSFormSearchInstance = new HSFormSearch('.js-form-search')

                  if (HSFormSearchInstance.collection.length) {
                    HSFormSearchInstance.getItem(1).on('close', function (el) {
                      el.classList.remove('top-0')
                    })

                    document.querySelector('.js-form-search-mobile-toggle').addEventListener('click', e => {
                      let dataOptions = JSON.parse(e.currentTarget.getAttribute('data-hs-form-search-options')),
                        $menu = document.querySelector(dataOptions.dropMenuElement)

                      $menu.classList.add('top-0')
                      $menu.style.left = 0
                    })
                  }


                  // INITIALIZATION OF BOOTSTRAP DROPDOWN
                  // =======================================================
                  HSBsDropdown.init()


                  // INITIALIZATION OF CHARTJS
                  // =======================================================
                  Chart.plugins.unregister(ChartDataLabels);
                  HSCore.components.HSChartJS.init('.js-chart')


                  // INITIALIZATION OF CHARTJS
                  // =======================================================
                  HSCore.components.HSChartJS.init('#updatingBarChart')
                  const updatingBarChart = HSCore.components.HSChartJS.getItem('updatingBarChart')

                  // Call when tab is clicked
                  document.querySelectorAll('[data-bs-toggle="chart-bar"]').forEach(item => {
                    item.addEventListener('click', e => {
                      let keyDataset = e.currentTarget.getAttribute('data-datasets')

                      const styles = HSCore.components.HSChartJS.getTheme('updatingBarChart', HSThemeAppearance.getAppearance())

                      if (keyDataset === 'lastWeek') {
                        updatingBarChart.data.labels = ["Apr 22", "Apr 23", "Apr 24", "Apr 25", "Apr 26", "Apr 27", "Apr 28", "Apr 29", "Apr 30", "Apr 31"];
                        updatingBarChart.data.datasets = [
                          {
                            "data": [120, 250, 300, 200, 300, 290, 350, 100, 125, 320],
                            "backgroundColor": styles.data.datasets[0].backgroundColor,
                            "hoverBackgroundColor": styles.data.datasets[0].hoverBackgroundColor,
                            "borderColor": styles.data.datasets[0].borderColor
                          },
                          {
                            "data": [250, 130, 322, 144, 129, 300, 260, 120, 260, 245, 110],
                            "backgroundColor": styles.data.datasets[1].backgroundColor,
                            "borderColor": styles.data.datasets[1].borderColor
                          }
                        ];
                        updatingBarChart.update();
                      } else {
                        updatingBarChart.data.labels = ["May 1", "May 2", "May 3", "May 4", "May 5", "May 6", "May 7", "May 8", "May 9", "May 10"];
                        updatingBarChart.data.datasets = [
                          {
                            "data": [200, 300, 290, 350, 150, 350, 300, 100, 125, 220],
                            "backgroundColor": styles.data.datasets[0].backgroundColor,
                            "hoverBackgroundColor": styles.data.datasets[0].hoverBackgroundColor,
                            "borderColor": styles.data.datasets[0].borderColor
                          },
                          {
                            "data": [150, 230, 382, 204, 169, 290, 300, 100, 300, 225, 120],
                            "backgroundColor": styles.data.datasets[1].backgroundColor,
                            "borderColor": styles.data.datasets[1].borderColor
                          }
                        ]
                        updatingBarChart.update();
                      }
                    })
                  })


                  // INITIALIZATION OF CHARTJS
                  // =======================================================
                  HSCore.components.HSChartJS.init('.js-chart-datalabels', {
                    plugins: [ChartDataLabels],
                    options: {
                      plugins: {
                        datalabels: {
                          anchor: function (context) {
                            var value = context.dataset.data[context.dataIndex];
                            return value.r < 20 ? 'end' : 'center';
                          },
                          align: function (context) {
                            var value = context.dataset.data[context.dataIndex];
                            return value.r < 20 ? 'end' : 'center';
                          },
                          color: function (context) {
                            var value = context.dataset.data[context.dataIndex];
                            return value.r < 20 ? context.dataset.backgroundColor : context.dataset.color;
                          },
                          font: function (context) {
                            var value = context.dataset.data[context.dataIndex],
                              fontSize = 25;

                            if (value.r > 50) {
                              fontSize = 35;
                            }

                            if (value.r > 70) {
                              fontSize = 55;
                            }

                            return {
                              weight: 'lighter',
                              size: fontSize
                            };
                          },
                          offset: 2,
                          padding: 0
                        }
                      }
                    }
                  })

                  // INITIALIZATION OF SELECT
                  // =======================================================
                  HSCore.components.HSTomSelect.init('.js-select')


                  // INITIALIZATION OF CLIPBOARD
                  // =======================================================
                  HSCore.components.HSClipboard.init('.js-clipboard')
                }
              })()
    </script>

    <!-- Style Switcher JS -->

    <script>
        (function () {
          // STYLE SWITCHER
          // =======================================================
          const $dropdownBtn = document.getElementById('selectThemeDropdown') // Dropdowon trigger
          const $variants = document.querySelectorAll(`[aria-labelledby="selectThemeDropdown"] [data-icon]`) // All items of the dropdown

          // Function to set active style in the dorpdown menu and set icon for dropdown trigger
          const setActiveStyle = function () {
            $variants.forEach($item => {
              if ($item.getAttribute('data-value') === HSThemeAppearance.getOriginalAppearance()) {
                $dropdownBtn.innerHTML = `<i class="${$item.getAttribute('data-icon')}" />`
                return $item.classList.add('active')
              }

              $item.classList.remove('active')
            })
          }

          // Add a click event to all items of the dropdown to set the style
          $variants.forEach(function ($item) {
            $item.addEventListener('click', function () {
              HSThemeAppearance.setAppearance($item.getAttribute('data-value'))
            })
          })

          // Call the setActiveStyle on load page
          setActiveStyle()

          // Add event listener on change style to call the setActiveStyle function
          window.addEventListener('on-hs-appearance-change', function () {
            setActiveStyle()
          })
        })()
    </script>



  </body>


</html>