<!DOCTYPE html>
<html lang="en">

<%- include('./partials/geral/head') %>

  <body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl   footer-offset">

    <script src="/assets/js/hs.theme-appearance.js"></script>
    <script src="/assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js"></script>
    <!-- ========== HEADER ========== -->
    <header id="header"
      class="navbar navbar-expand-lg navbar-fixed navbar-height navbar-container navbar-bordered bg-white">
      <div class="navbar-nav-wrap">
        <!-- Logo -->
        <%- include('./partials/geral/logo') %>
          <!-- End Logo -->

          <%- include('./partials/geral/navbar') %>
      </div>
    </header>

    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <!-- Navbar Vertical -->

    <aside
      class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered bg-white  ">
      <div class="navbar-vertical-container">
        <div class="navbar-vertical-footer-offset">
          <!-- Logo -->

          <%- include('./partials/geral/logo') %>

            <!-- End Logo -->

            <!-- Navbar Vertical Toggle -->
            <button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-aside-toggler">
              <i class="bi-arrow-bar-left navbar-toggler-short-align"
                data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                data-bs-toggle="tooltip" data-bs-placement="right" title="Collapse"></i>
              <i class="bi-arrow-bar-right navbar-toggler-full-align"
                data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                data-bs-toggle="tooltip" data-bs-placement="right" title="Expand"></i>
            </button>

            <%- include('./middlewares/middlewares.ejs') %>

              <!-- End Content -->
              <!-- Footer -->
              <div class="navbar-vertical-footer">
                <ul class="navbar-vertical-footer-list">
                </ul>
              </div>
              <!-- End Footer -->
        </div>
      </div>
    </aside>

 <main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
      <div class="row justify-content-lg-center">
        <div class="col-lg-10">
          <!-- Profile Cover -->
          <div class="profile-cover">
            <div class="profile-cover-img-wrapper">
              <img id="profileCoverImg" class="profile-cover-img" src="/assets/img/logo/MININT.png" alt="Image Description">

              <!-- Custom File Cover -->
              <div class="profile-cover-content profile-cover-uploader p-3">
              
                
              </div>
              <!-- End Custom File Cover -->
            </div>
          </div>
          <!-- End Profile Cover -->

          <!-- Profile Header -->
          <div class="text-center mb-5">
            <!-- Avatar -->
            <label class="avatar avatar-xxl avatar-circle avatar-uploader profile-cover-avatar" for="editAvatarUploaderModal">
              <img id="editAvatarImgModal" class="avatar-img" src="/uploads/<%- use.image %>" alt="Image Description">

             
            </label>
            <!-- End Avatar -->

            <h1 class="page-header-title"><%= use.username %><i class="bi-patch-check-fill fs-2 text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Top endorsed"></i></h1>

            <!-- List -->
            <ul class="list-inline list-px-2">
              <li class="list-inline-item">
                <i class="bi-building me-1"></i>
                <span><%=use.orgao %></span>
                <a href="#">MININT</a>
              </li>

              <li class="list-inline-item">
                <i class="bi-geo-alt me-1"></i>
                <a href="#"><%=user.patente %></a>
               
              </li>

              <li class="list-inline-item">
                <i class="bi-calendar-week me-1"></i>
                <span> 2023</span>
              </li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Profile Header -->

          <!-- Nav -->
          <div class="js-nav-scroller hs-nav-scroller-horizontal mb-5">
            <span class="hs-nav-scroller-arrow-prev" style="display: none;">
              <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-left"></i>
              </a>
            </span>

            <span class="hs-nav-scroller-arrow-next" style="display: none;">
              <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-right"></i>
              </a>
            </span>

            <ul class="nav nav-tabs align-items-center">
              <li class="nav-item">
                <a class="nav-link active disabled" href="#">Perfil</a>
              </li>
             

              <li class="nav-item ms-auto">
                <div class="d-flex gap-2">
                  <a class="btn btn-white btn-sm" href="#">
                    <i class="bi-person-plus-fill me-1"></i> Editar Perfil
                  </a>

                  <a class="btn btn-white btn-icon btn-sm" href="#">
                    <i class="bi-list-ul me-1"></i>
                  </a>

                  <!-- Dropdown -->
                
                  <!-- End Dropdown -->
                </div>
              </li>
            </ul>
          </div>
          <!-- End Nav -->

          <div class="row">
            <div class="col-lg-4">
              <!-- Card -->
              

              <!-- Card -->
              <div class="card mb-3 mb-lg-5">
                <!-- Header -->
                <div class="card-header card-header-content-between">
                  <h4 class="card-header-title">Perfil</h4>
                </div>
                <!-- End Header -->

                <!-- Body -->
                <div class="card-body">
                  <ul class="list-unstyled list-py-2 text-dark mb-0">
                    <li class="pb-0"><span class="card-subtitle">Sobre </span></li>
                    <li><i class="bi-person dropdown-item-icon"></i> <%= use.username %></li>
                    
                    <li><i class="bi-building dropdown-item-icon"></i> Segurança Institucional.</li>

                    <li class="pt-4 pb-0"><span class="card-subtitle">Dados</span></li>
                    <li><i class="bi-at dropdown-item-icon"></i> <%= use.email %></li>
                    <li><i class="bi-phone dropdown-item-icon"></i> <%= use.tb_funcionario.nip %></li>

                    <li class="pt-4 pb-0"><span class="card-subtitle">Area</span></li>
                    <li class="fs-6 text-body"><i class="bi-people dropdown-item-icon"></i> <%= use.tb_funcionario.tb_area.nome %> (<%= use.tb_funcionario.tb_area.sigla %>)</li>
                    <li class="fs-6 text-body"><i class="bi-stickies dropdown-item-icon"></i><%= use.tb_grupo.designacao %> </li>
                  </ul>
                </div>
                <!-- End Body -->
              </div>
              <!-- End Card -->
              <!-- Card -->
              <!-- End Card -->
            </div>
            <!-- End Col -->
            <div class="col-lg-8">
              <div class="d-grid gap-3 gap-lg-5">
                <!-- Card -->
                <div class="card">
                  <!-- Header -->
                  <div class="card-header card-header-content-between">
                    <h4 class="card-header-title">Actividades</h4>

                 
                  </div>
                  <!-- End Header -->

                  <!-- Body -->
                  <div class="card-body card-body-height" style="height: 19.5rem;">
                    <!-- Step -->
                    <ul class="step step-icon-xs mb-0">
                    <% logs.reverse().slice(0,4).map(e=>{ %>
                      <li class="step-item">
                        <div class="step-content-wrapper">
                          <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

                          <div class="step-content">
                            <h5 class="step-title">
                              <a class="text-dark" href="#"><%=e.titulo %>.</a>
                            </h5>

                            <p class="fs-5 mb-1"><%=e.descricao %> <a class="text-uppercase" href="#"><i class="bi-journal-bookmark-fill"></i> </a></p>

                           

                            <span class="text-muted small text-uppercase"><%=e.createdAt.toLocaleString('en-US', { month: 'short', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false })%>
                            </span>
                          </div>
                        </div>
                      </li>
                    
                      <%  }) %>
                    
                     
                    

                   
                      <% logs.map(e=>{ %>
                        <li id="collapseActivitySection" class="step-item collapse">
                          <div class="step-content-wrapper">
                            <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>
  
                            <div class="step-content">
                              <h5 class="step-title">
                                <a class="text-dark" href="#"><%=e.titulo %>.</a>
                              </h5>
  
                              <p class="fs-5 mb-1"><%=e.descricao %> <a class="text-uppercase" href="#"><i class="bi-info-circle"></i> </a></p>
  
                             
  
                              <span class="text-muted small text-uppercase"><%=e.createdAt.toLocaleString('en-US', { month: 'short', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false })%>
                              </span>
                            </div>
                          </div>
                        </li>
                      
                        <%  }) %>
                      
                      <!-- End Step Item -->
                    </ul>
                    <!-- End Step -->
                  </div>
                  <!-- End Body -->

                  <!-- Footer -->
                  <div class="card-footer">
                    <a class="link link-collapse" data-bs-toggle="collapse" href="#collapseActivitySection" role="button" aria-expanded="false" aria-controls="collapseActivitySection">
                      <span class="link-collapse-default">Ver todos</span>
                      <span class="link-collapse-active">Ver menos</span>
                    </a>
                  </div>
                  <!-- End Footer -->
                </div>
            

                <!-- Card -->
               
                <!-- End Card -->
              </div>

              <!-- Sticky Block End Point -->
              <div id="stickyBlockEndPoint"></div>
            </div>
          
          </div>
          <!-- End Row -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->

    <!-- Footer -->

 
<%- include('./partials/geral/footer') %>

    <!-- End Footer -->
  </main>

    <script src="/assets/js/demo.js"></script>

    <!-- END ONLY DEV -->

    <!-- ========== SECONDARY CONTENTS ========== -->




    <script src="/assets/js/vendor.min.js"></script>

    <script src="/assets/vendor/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>

    <!-- JS Front -->
    <script src="/assets/js/theme.min.js"></script>
    <script src="/assets/js/hs.theme-appearance-charts.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // INITIALIZATION OF DATERANGEPICKER
        // =======================================================
        $('.js-daterangepicker').daterangepicker();

        $('.js-daterangepicker-times').daterangepicker({
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale: {
            format: 'M/DD hh:mm A'
          }
        });

        var start = moment();
        var end = moment();

        function cb(start, end) {
          $('#js-daterangepicker-predefined .js-daterangepicker-predefined-preview').html(start.format('MMM D') + ' - ' + end.format('MMM D, YYYY'));
        }

        $('#js-daterangepicker-predefined').daterangepicker({
          startDate: start,
          endDate: end,
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
        }, cb);

        cb(start, end);
      });


      // INITIALIZATION OF DATATABLES
      // =======================================================
      HSCore.components.HSDatatables.init($('#datatable'), {
        select: {
          style: 'multi',
          selector: 'td:first-child input[type="checkbox"]',
          classMap: {
            checkAll: '#datatableCheckAll',
            counter: '#datatableCounter',
            counterInfo: '#datatableCounterInfo'
          }
        },
        language: {
          zeroRecords: `<div class="text-center p-4">
              <img class="mb-3" src="./assets/svg/illustrations/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
              <img class="mb-3" src="./assets/svg/illustrations-light/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="dark">
            <p class="mb-0">No data to show</p>
            </div>`
        }
      });

      const datatable = HSCore.components.HSDatatables.getItem(0)

      document.querySelectorAll('.js-datatable-filter').forEach(function (item) {
        item.addEventListener('change', function (e) {
          const elVal = e.target.value,
            targetColumnIndex = e.target.getAttribute('data-target-column-index'),
            targetTable = e.target.getAttribute('data-target-table');

          HSCore.components.HSDatatables.getItem(targetTable).column(targetColumnIndex).search(elVal !== 'null' ? elVal : '').draw()
        })
      })
    </script>

    <!-- JS Plugins Init. -->
    <script>
              (function () {
                window.onload = function () {


                  // INITIALIZATION OF NAVBAR VERTICAL ASIDE
                  // =======================================================
                  new HSSideNav('.js-navbar-vertical-aside').init()


                  // INITIALIZATION OF FORM SEARCH
                  // =======================================================
                  const HSFormSearchInstance = new HSFormSearch('.js-form-search')

                  if (HSFormSearchInstance.collection.length) {
                    HSFormSearchInstance.getItem(1).on('close', function (el) {
                      el.classList.remove('top-0')
                    })

                    document.querySelector('.js-form-search-mobile-toggle').addEventListener('click', e => {
                      let dataOptions = JSON.parse(e.currentTarget.getAttribute('data-hs-form-search-options')),
                        $menu = document.querySelector(dataOptions.dropMenuElement)

                      $menu.classList.add('top-0')
                      $menu.style.left = 0
                    })
                  }


                  // INITIALIZATION OF BOOTSTRAP DROPDOWN
                  // =======================================================
                  HSBsDropdown.init()


                  // INITIALIZATION OF CHARTJS
                  // =======================================================
                  Chart.plugins.unregister(ChartDataLabels);
                  HSCore.components.HSChartJS.init('.js-chart')


                  // INITIALIZATION OF CHARTJS
                  // =======================================================
                  HSCore.components.HSChartJS.init('#updatingBarChart')
                  const updatingBarChart = HSCore.components.HSChartJS.getItem('updatingBarChart')

                  // Call when tab is clicked
                  document.querySelectorAll('[data-bs-toggle="chart-bar"]').forEach(item => {
                    item.addEventListener('click', e => {
                      let keyDataset = e.currentTarget.getAttribute('data-datasets')

                      const styles = HSCore.components.HSChartJS.getTheme('updatingBarChart', HSThemeAppearance.getAppearance())

                      if (keyDataset === 'lastWeek') {
                        updatingBarChart.data.labels = ["Apr 22", "Apr 23", "Apr 24", "Apr 25", "Apr 26", "Apr 27", "Apr 28", "Apr 29", "Apr 30", "Apr 31"];
                        updatingBarChart.data.datasets = [
                          {
                            "data": [120, 250, 300, 200, 300, 290, 350, 100, 125, 320],
                            "backgroundColor": styles.data.datasets[0].backgroundColor,
                            "hoverBackgroundColor": styles.data.datasets[0].hoverBackgroundColor,
                            "borderColor": styles.data.datasets[0].borderColor
                          },
                          {
                            "data": [250, 130, 322, 144, 129, 300, 260, 120, 260, 245, 110],
                            "backgroundColor": styles.data.datasets[1].backgroundColor,
                            "borderColor": styles.data.datasets[1].borderColor
                          }
                        ];
                        updatingBarChart.update();
                      } else {
                        updatingBarChart.data.labels = ["May 1", "May 2", "May 3", "May 4", "May 5", "May 6", "May 7", "May 8", "May 9", "May 10"];
                        updatingBarChart.data.datasets = [
                          {
                            "data": [200, 300, 290, 350, 150, 350, 300, 100, 125, 220],
                            "backgroundColor": styles.data.datasets[0].backgroundColor,
                            "hoverBackgroundColor": styles.data.datasets[0].hoverBackgroundColor,
                            "borderColor": styles.data.datasets[0].borderColor
                          },
                          {
                            "data": [150, 230, 382, 204, 169, 290, 300, 100, 300, 225, 120],
                            "backgroundColor": styles.data.datasets[1].backgroundColor,
                            "borderColor": styles.data.datasets[1].borderColor
                          }
                        ]
                        updatingBarChart.update();
                      }
                    })
                  })


                  // INITIALIZATION OF CHARTJS
                  // =======================================================
                  HSCore.components.HSChartJS.init('.js-chart-datalabels', {
                    plugins: [ChartDataLabels],
                    options: {
                      plugins: {
                        datalabels: {
                          anchor: function (context) {
                            var value = context.dataset.data[context.dataIndex];
                            return value.r < 20 ? 'end' : 'center';
                          },
                          align: function (context) {
                            var value = context.dataset.data[context.dataIndex];
                            return value.r < 20 ? 'end' : 'center';
                          },
                          color: function (context) {
                            var value = context.dataset.data[context.dataIndex];
                            return value.r < 20 ? context.dataset.backgroundColor : context.dataset.color;
                          },
                          font: function (context) {
                            var value = context.dataset.data[context.dataIndex],
                              fontSize = 25;

                            if (value.r > 50) {
                              fontSize = 35;
                            }

                            if (value.r > 70) {
                              fontSize = 55;
                            }

                            return {
                              weight: 'lighter',
                              size: fontSize
                            };
                          },
                          offset: 2,
                          padding: 0
                        }
                      }
                    }
                  })

                  // INITIALIZATION OF SELECT
                  // =======================================================
                  HSCore.components.HSTomSelect.init('.js-select')


                  // INITIALIZATION OF CLIPBOARD
                  // =======================================================
                  HSCore.components.HSClipboard.init('.js-clipboard')
                }
              })()
    </script>

    <!-- Style Switcher JS -->

    <script>
        (function () {
          // STYLE SWITCHER
          // =======================================================
          const $dropdownBtn = document.getElementById('selectThemeDropdown') // Dropdowon trigger
          const $variants = document.querySelectorAll(`[aria-labelledby="selectThemeDropdown"] [data-icon]`) // All items of the dropdown

          // Function to set active style in the dorpdown menu and set icon for dropdown trigger
          const setActiveStyle = function () {
            $variants.forEach($item => {
              if ($item.getAttribute('data-value') === HSThemeAppearance.getOriginalAppearance()) {
                $dropdownBtn.innerHTML = `<i class="${$item.getAttribute('data-icon')}" />`
                return $item.classList.add('active')
              }

              $item.classList.remove('active')
            })
          }

          // Add a click event to all items of the dropdown to set the style
          $variants.forEach(function ($item) {
            $item.addEventListener('click', function () {
              HSThemeAppearance.setAppearance($item.getAttribute('data-value'))
            })
          })

          // Call the setActiveStyle on load page
          setActiveStyle()

          // Add event listener on change style to call the setActiveStyle function
          window.addEventListener('on-hs-appearance-change', function () {
            setActiveStyle()
          })
        })()
    </script>



  </body>


</html>