<!DOCTYPE html>
<html lang="en">

<%- include('./partials/geral/head') %>

  <body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl   footer-offset">

    <script src="/assets/js/hs.theme-appearance.js"></script>
    <script src="/assets/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js"></script>
    <!-- ========== HEADER ========== -->
    <header id="header"
      class="navbar navbar-expand-lg navbar-fixed navbar-height navbar-container navbar-bordered bg-white">
      <div class="navbar-nav-wrap">
        <!-- Logo -->
        <%- include('./partials/geral/logo') %>
          <!-- End Logo -->

          <%- include('./partials/geral/navbar') %>
      </div>
    </header>

    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <!-- Navbar Vertical -->

    <aside
      class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered bg-white  ">
      <div class="navbar-vertical-container">
        <div class="navbar-vertical-footer-offset">
          <!-- Logo -->

          <%- include('./partials/geral/logo') %>

            <!-- End Logo -->

            <!-- Navbar Vertical Toggle -->
            <button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-aside-toggler">
              <i class="bi-arrow-bar-left navbar-toggler-short-align"
                data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                data-bs-toggle="tooltip" data-bs-placement="right" title="Collapse"></i>
              <i class="bi-arrow-bar-right navbar-toggler-full-align"
                data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                data-bs-toggle="tooltip" data-bs-placement="right" title="Expand"></i>
            </button>

            <%- include('./middlewares/middlewares.ejs') %>

              <!-- End Content -->
              <!-- Footer -->
              <div class="navbar-vertical-footer">
                <ul class="navbar-vertical-footer-list">
                </ul>
              </div>
              <!-- End Footer -->
        </div>
      </div>
    </aside>

    <!-- End Navbar Vertical -->

    <main id="content" role="main" class="main">
      <!-- Content -->
      <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col">
              <h1 class="page-header-title">Visitas</h1>
            </div>
            <!-- End Col -->

            <% if(user.grupoID==2||user.designacao=="Gestão de Visitas"){%>
              <div class="col-auto">
                <a
                  class="btn btn-primary"
                  href="/visitas/FormCrVisita"
                
                >
                  <i class="bi-person-plus-fill me-1"></i> Registrar Visita
                </a>
              </div> 
            <%  } %>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Page Header -->
        <div class="row">
         
      
        <!-- Stats -->
        <div class="card">
          <!-- Header -->
          <div class="card-header card-header-content-md-between">
            <div class="mb-2 mb-md-0">
              <form>
                <!-- Search -->
                <div class="input-group input-group-merge input-group-flush">
                  <div class="input-group-prepend input-group-text">
                    <i class="bi-search"></i>
                  </div>
                  <input id="datatableSearch" type="search" class="form-control" placeholder="Search users" aria-label="Search users">
                </div>
                <!-- End Search -->
              </form>
            </div>
  
            <div class="d-grid d-sm-flex gap-2">
            
            </div>
          </div>
          <!-- End Header -->
  
          <!-- Table -->
          <div class="table-responsive datatable-custom">
            <table id="datatable" class="table table-hover table-borderless table-thead-bordered table-nowrap table-align-middle card-table" style="width: 100%" data-hs-datatables-options='{
                     "columnDefs": [{
                        "targets": [0],
                        "orderable": false
                      }],
                     "order": [],
                     "info": {
                       "totalQty": "#datatableWithPaginationInfoTotalQty"
                     },
                     "search": "#datatableSearch",
                     "entries": "#datatableEntries",
                     "pageLength": 12,
                     "isResponsive": false,
                     "isShowPaging": false,
                     "pagination": "datatablePagination"
                   }'>
              <thead class="thead-light">
               
                <tr>
                  <th class="table-column-pe-0">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="datatableCheckAll">
                      <label class="form-check-label" for="datatableCheckAll"></label>
                    </div>
                  </th>
                  <th class="table-column-ps-0">Código Visita</th>
                  <th>Data</th>
                  <th>Area Visitado</th>
                  <th>Sigla Area </th>
                  <th>Quantidade Visitante</th>
                  <th>Tipo de Visita</th>
                
                  <th>Acção</th>
                </tr>
              </thead>
  
              <tbody>
                <% if(user.grupoID!=2){%>
                  <% visitas.reverse().forEach(e => { %>
                    <%if (user.area== e.tb_area.sigla||e.tb_area.areaId==user.areaId) {%>
                         <tr>
                      <td class="table-column-pe-0">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="ordersCheck7">
                          <label class="form-check-label" for="ordersCheck7"></label>
                        </div>
                      </td>
                      <td class="table-column-ps-0">
                        <a class="text-danger" href="ecommerce-order-details.html"> <%=e.cod_Visita %></a>
                        <i class="bi-exclamation-diamond-fill text-warning"></i>
                      </td>
                      <td><%=e.data_visita%></td>
                      <td class="text-danger"><%=e.tb_area.nome.toString().substring(0, 24)%>...</td>
                      <td><%=e.tb_area.sigla%></td>
                     
                      <td>
                        <% count.forEach(element => { %>
                          <% if (e.visitaId== element.visitaId) { %>
                    
                              <%=element.quantidade  %>
                         
                          
                        <% }%>
                        <% })%>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <img class="avatar avatar-xss avatar-4x3 me-2" src="/assets/svg/brands/mastercard.svg" alt="Image Description">
                          <span class="text-dark">&bull;&bull;&bull;&bull; 
                            <%=e.tb_Tipo_visita.designacao  %></span>
                        </div>
                      </td>
                     
                      <td>
                        <div class="btn-group" role="group">
                          <a class="btn btn-white btn-sm" href="/visitas/Visita/<%-e.visitaId %>">
                            <i class="bi-eye"></i> Ver
                          </a>
                       
                        </div>
                      </td>
                    </tr>
                    <%} %>
                   
                    <% })%>
                  <%   }else{%>
                    <% visitas.reverse().forEach(e => { %>
                      <tr>
                        <td class="table-column-pe-0">
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="ordersCheck7">
                            <label class="form-check-label" for="ordersCheck7"></label>
                          </div>
                        </td>
                        <td class="table-column-ps-0">
                          <a class="text-danger" href="ecommerce-order-details.html"> <%=e.cod_Visita %></a>
                          <i class="bi-exclamation-diamond-fill text-warning"></i>
                        </td>
                        <td><%=e.data_visita%></td>
                        <td class="text-danger"><%=e.tb_area.nome.toString().substring(0, 24)%>...</td>
                        <td><%=e.tb_area.sigla%></td>
                       
                        <td>
                          <% count.forEach(element => { %>
                            <% if (e.visitaId== element.visitaId) { %>
                      
                                <%=element.quantidade  %>
                           
                            
                          <% }%>
                          <% })%>
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <img class="avatar avatar-xss avatar-4x3 me-2" src="/assets/svg/brands/mastercard.svg" alt="Image Description">
                            <span class="text-dark">&bull;&bull;&bull;&bull; 
                              <%=e.tb_Tipo_visita.designacao  %></span>
                          </div>
                        </td>
                       
                        <td>
                          <div class="btn-group" role="group">
                            <a class="btn btn-white btn-sm" href="/visitas/Visita/<%-e.visitaId %>">
                              <i class="bi-eye"></i> Ver
                            </a>
        
                         
                          </div>
                        </td>
                      </tr>
                      <% })%>
                  <%   } %>
              
              
  
              
  
              </tbody>
            </table>
          </div>
          <!-- End Table -->
  
          <!-- Footer -->
          <div class="card-footer">
            <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
              <div class="col-sm mb-2 mb-sm-0">
                <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                  <span class="me-2">Showing:</span>
  
                  <!-- Select -->
                  <div class="tom-select-custom">
                    <select id="datatableEntries" class="js-select form-select form-select-borderless w-auto" autocomplete="off" data-hs-tom-select-options='{
                              "searchInDropdown": false,
                              "hideSearch": true
                            }'>
                      <option value="12" selected>12</option>
                      <option value="14">14</option>
                      <option value="16">16</option>
                      <option value="18">18</option>
                    </select>
                  </div>
                  <!-- End Select -->
  
                  <span class="text-secondary me-2">of</span>
  
                  <!-- Pagination Quantity -->
                  <span id="datatableWithPaginationInfoTotalQty"></span>
                </div>
              </div>
              <!-- End Col -->
  
              <div class="col-sm-auto">
                <div class="d-flex justify-content-center justify-content-sm-end">
                  <!-- Pagination -->
                  <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                </div>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Footer -->
        </div>
      






      </div>
      <!-- End Content -->

      <!-- Footer -->


      <%- include('./partials/geral/footer') %>

        <!-- End Footer -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

    <!-- ONLY DEV -->

    <!-- Builder -->

    <script src="/assets/js/demo.js"></script>

    <!-- END ONLY DEV -->

    <!-- ========== SECONDARY CONTENTS ========== -->




    <script src="/assets/js/vendor.min.js"></script>

    <script src="/assets/vendor/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>

    <!-- JS Front -->
    <script src="/assets/js/theme.min.js"></script>
    <script src="assets/js/hs.theme-appearance-charts.js"></script>


    <script>
      $(document).on('ready', function () {
        // INITIALIZATION OF DATERANGEPICKER
        // =======================================================
        $('.js-daterangepicker').daterangepicker();

        $('.js-daterangepicker-times').daterangepicker({
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale: {
            format: 'M/DD hh:mm A'
          }
        });

        var start = moment();
        var end = moment();

        function cb(start, end) {
          $('#js-daterangepicker-predefined .js-daterangepicker-predefined-preview').html(start.format('MMM D') + ' - ' + end.format('MMM D, YYYY'));
        }

        $('#js-daterangepicker-predefined').daterangepicker({
          startDate: start,
          endDate: end,
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
        }, cb);

        cb(start, end);
      });


      // INITIALIZATION OF DATATABLES
      // =======================================================
      HSCore.components.HSDatatables.init($('#datatable'), {
        select: {
          style: 'multi',
          selector: 'td:first-child input[type="checkbox"]',
          classMap: {
            checkAll: '#datatableCheckAll',
            counter: '#datatableCounter',
            counterInfo: '#datatableCounterInfo'
          }
        },
        language: {
          zeroRecords: `<div class="text-center p-4">
              <img class="mb-3" src="./assets/svg/illustrations/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
              <img class="mb-3" src="./assets/svg/illustrations-light/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="dark">
            <p class="mb-0">No data to show</p>
            </div>`
        }
      });

      const datatable = HSCore.components.HSDatatables.getItem(0)

      document.querySelectorAll('.js-datatable-filter').forEach(function (item) {
        item.addEventListener('change', function (e) {
          const elVal = e.target.value,
            targetColumnIndex = e.target.getAttribute('data-target-column-index'),
            targetTable = e.target.getAttribute('data-target-table');

          HSCore.components.HSDatatables.getItem(targetTable).column(targetColumnIndex).search(elVal !== 'null' ? elVal : '').draw()
        })
      })
    </script>

    <!-- JS Plugins Init. -->
    <script>
              (function () {
                window.onload = function () {


                  // INITIALIZATION OF NAVBAR VERTICAL ASIDE
                  // =======================================================
                  new HSSideNav('.js-navbar-vertical-aside').init()


                  // INITIALIZATION OF FORM SEARCH
                  // =======================================================
                  const HSFormSearchInstance = new HSFormSearch('.js-form-search')

                  if (HSFormSearchInstance.collection.length) {
                    HSFormSearchInstance.getItem(1).on('close', function (el) {
                      el.classList.remove('top-0')
                    })

                    document.querySelector('.js-form-search-mobile-toggle').addEventListener('click', e => {
                      let dataOptions = JSON.parse(e.currentTarget.getAttribute('data-hs-form-search-options')),
                        $menu = document.querySelector(dataOptions.dropMenuElement)

                      $menu.classList.add('top-0')
                      $menu.style.left = 0
                    })
                  }


                  // INITIALIZATION OF BOOTSTRAP DROPDOWN
                  // =======================================================
                  HSBsDropdown.init()


                  // INITIALIZATION OF CHARTJS
                  // =======================================================
                  Chart.plugins.unregister(ChartDataLabels);
                  HSCore.components.HSChartJS.init('.js-chart')


                  // INITIALIZATION OF CHARTJS
                  // =======================================================
                  HSCore.components.HSChartJS.init('#updatingBarChart')
                  const updatingBarChart = HSCore.components.HSChartJS.getItem('updatingBarChart')

                  // Call when tab is clicked
                  document.querySelectorAll('[data-bs-toggle="chart-bar"]').forEach(item => {
                    item.addEventListener('click', e => {
                      let keyDataset = e.currentTarget.getAttribute('data-datasets')

                      const styles = HSCore.components.HSChartJS.getTheme('updatingBarChart', HSThemeAppearance.getAppearance())

                      if (keyDataset === 'lastWeek') {
                        updatingBarChart.data.labels = ["Apr 22", "Apr 23", "Apr 24", "Apr 25", "Apr 26", "Apr 27", "Apr 28", "Apr 29", "Apr 30", "Apr 31"];
                        updatingBarChart.data.datasets = [
                          {
                            "data": [120, 250, 300, 200, 300, 290, 350, 100, 125, 320],
                            "backgroundColor": styles.data.datasets[0].backgroundColor,
                            "hoverBackgroundColor": styles.data.datasets[0].hoverBackgroundColor,
                            "borderColor": styles.data.datasets[0].borderColor
                          },
                          {
                            "data": [250, 130, 322, 144, 129, 300, 260, 120, 260, 245, 110],
                            "backgroundColor": styles.data.datasets[1].backgroundColor,
                            "borderColor": styles.data.datasets[1].borderColor
                          }
                        ];
                        updatingBarChart.update();
                      } else {
                        updatingBarChart.data.labels = ["May 1", "May 2", "May 3", "May 4", "May 5", "May 6", "May 7", "May 8", "May 9", "May 10"];
                        updatingBarChart.data.datasets = [
                          {
                            "data": [200, 300, 290, 350, 150, 350, 300, 100, 125, 220],
                            "backgroundColor": styles.data.datasets[0].backgroundColor,
                            "hoverBackgroundColor": styles.data.datasets[0].hoverBackgroundColor,
                            "borderColor": styles.data.datasets[0].borderColor
                          },
                          {
                            "data": [150, 230, 382, 204, 169, 290, 300, 100, 300, 225, 120],
                            "backgroundColor": styles.data.datasets[1].backgroundColor,
                            "borderColor": styles.data.datasets[1].borderColor
                          }
                        ]
                        updatingBarChart.update();
                      }
                    })
                  })


                  // INITIALIZATION OF CHARTJS
                  // =======================================================
                  HSCore.components.HSChartJS.init('.js-chart-datalabels', {
                    plugins: [ChartDataLabels],
                    options: {
                      plugins: {
                        datalabels: {
                          anchor: function (context) {
                            var value = context.dataset.data[context.dataIndex];
                            return value.r < 20 ? 'end' : 'center';
                          },
                          align: function (context) {
                            var value = context.dataset.data[context.dataIndex];
                            return value.r < 20 ? 'end' : 'center';
                          },
                          color: function (context) {
                            var value = context.dataset.data[context.dataIndex];
                            return value.r < 20 ? context.dataset.backgroundColor : context.dataset.color;
                          },
                          font: function (context) {
                            var value = context.dataset.data[context.dataIndex],
                              fontSize = 25;

                            if (value.r > 50) {
                              fontSize = 35;
                            }

                            if (value.r > 70) {
                              fontSize = 55;
                            }

                            return {
                              weight: 'lighter',
                              size: fontSize
                            };
                          },
                          offset: 2,
                          padding: 0
                        }
                      }
                    }
                  })

                  // INITIALIZATION OF SELECT
                  // =======================================================
                  HSCore.components.HSTomSelect.init('.js-select')


                  // INITIALIZATION OF CLIPBOARD
                  // =======================================================
                  HSCore.components.HSClipboard.init('.js-clipboard')
                }
              })()
    </script>

    <!-- Style Switcher JS -->

    <script>
        (function () {
          // STYLE SWITCHER
          // =======================================================
          const $dropdownBtn = document.getElementById('selectThemeDropdown') // Dropdowon trigger
          const $variants = document.querySelectorAll(`[aria-labelledby="selectThemeDropdown"] [data-icon]`) // All items of the dropdown

          // Function to set active style in the dorpdown menu and set icon for dropdown trigger
          const setActiveStyle = function () {
            $variants.forEach($item => {
              if ($item.getAttribute('data-value') === HSThemeAppearance.getOriginalAppearance()) {
                $dropdownBtn.innerHTML = `<i class="${$item.getAttribute('data-icon')}" />`
                return $item.classList.add('active')
              }

              $item.classList.remove('active')
            })
          }

          // Add a click event to all items of the dropdown to set the style
          $variants.forEach(function ($item) {
            $item.addEventListener('click', function () {
              HSThemeAppearance.setAppearance($item.getAttribute('data-value'))
            })
          })

          // Call the setActiveStyle on load page
          setActiveStyle()

          // Add event listener on change style to call the setActiveStyle function
          window.addEventListener('on-hs-appearance-change', function () {
            setActiveStyle()
          })
        })()
    </script>



  </body>


</html>